#headshot{

    height: 250px;
    width: 185px;
    border-radius: 25%;
    

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: transparent;
    
}

nav.nav-bar{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}



body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    color:  #C4DFAA;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    
}

h2 {
    font-family: 'Roboto Mono', monospace;
    color:  #fde4c3;
    font-weight: normal;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #D3E4CD;
    border-width: 10px;
    width: 20%;
}


table {
    margin-left: auto;
    margin-right: auto;
}

th {
    color:  #fde4c3;
    font-family: 'courier new';
    border-bottom: 1px solid #ddd;
}


td {
    border-bottom: 1px solid #ddd;
    color:  #fde4c3;
    font-family: 'courier new';
}

tr:hover {background-color: coral;}

p {
    text-align: center;
    color:  #fde4c3;
    font-family: 'courier new';
}

.top_container {
    text-align: center;
    
}

.middle-container {

    color:  #fde4c3;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.copyright{
    text-align: center;
}

a {
    color: #fde4c3;
}

li {
    
    color:  #fde4c3;
    font-family: 'Roboto Mono', monospace;
}

.project-giph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.bottom-container{
    text-align: center;
}